# Project exclude paths
/.gradle/
/Contacts/task/build/
/Contacts/task/out/production/classes/
/Topics/LocalTime/Seconds between two time points/out/
/Topics/LocalTime/Seconds between two time points/out/production/classes/
/Topics/Patterns and Matcher/Find a word with a given length/out/
/Topics/Patterns and Matcher/Find a word with a given length/out/production/classes/